@import "./variables";
@import "./utils";

.chat-sidebar {
  align-self: stretch;
  color: $font-white;
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;

  .primary-bg {
    border-radius: 10px;
  }

  .room-name {
    white-space: nowrap;
    overflow: hidden;

    input {
      border: transparent;
      outline: none;
      background-color: transparent;
      color: $font-white;
    }
  }

  .custom-tooltip-top {
    &::before {
      @include tooltip-position($top: -30px);
    }

    .btn {
      outline: none;
      border: none;
      font-size: 1.25rem;
      color: $font-white;
      background-color: rgba($color: #000, $alpha: 0.125);

      &:not(:disabled):focus {
        border: none;
      }
    }
  }

  ul {
    @include inner-box-shadow(10px);
    border-radius: 10px;
    background-color: $primary-color;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
  }
}

.chat-sidebar.animate {
  &-reveal {
    @include animation($name: unfoldY, $time: 0.4s, $origin: top);
  }

  &-hide {
    @include animation(
      $name: foldY,
      $time: 0.3s,
      $origin: top,
      $fill-mode: forwards
    );
  }
}

@media only screen and (max-width: 992px) {
  .chat-sidebar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    ul {
      max-height: 50vh;
      overflow-y: auto;

      li:not(:last-child) {
        padding-bottom: 5px;

        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 1px;
          opacity: 0.35;
          background-color: $font-white;
          margin-top: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .chat-sidebar {
    position: absolute;

    ul {
      overflow-x: auto;
      li {
        z-index: -1;
        display: inline;
        padding-bottom: 5px;

        &:not(:last-child)::after {
          content: "\2022";
          opacity: 0.75;
          margin-right: 8px;
          margin-left: 8px;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
  }
}
