@import "../styles/variables";
@import "../styles//utils";

.chat-form-container {
  color: $font-white;

  h2 {
    color: $font-light;
  }

  img {
    width: 200px;
    height: 100%;
  }

  .chat-form {
    background-color: $primary-color;
    @include box-shadow(10px);

    > div {
      background-color: $primary-color;
      padding: 0.25rem;
    }

    form {
      padding: 2rem 1.375rem;
      input {
        color: $font-dark;
        border-radius: 0;
      }

      .btn {
        width: 100%;
        @include btn-secondary($font-white, transparent, 2px);
        @include box-shadow(10px);
      }

      .btn:hover {
        background-color: $font-white;
        color: $font-dark;
      }
    }
  }
}
