@mixin btn-secondary($font-color, $background-color, $width: 2px) {
    background-color: $background-color;
    border: $width solid $font-color;
    color: $font-color;
}

@mixin box-shadow($width, $color: #000) {
    box-shadow: 0 0 $width rgba($color, $alpha: 0.5);
}

@mixin inner-box-shadow($width, $color: #000) {
    box-shadow: inset 0 0 $width rgba($color, $alpha: 0.5);
}

@mixin tooltip-position(
    $top: false,
    $right: false,
    $bottom: false,
    $left: false
) {
    @if $top != false {
        top: $top;
        left: 50%;
        transform: translateX(-50%);
    }
    @if $right != false {
        right: $right;
        top: 50%;
        transform: translateY(-50%);
    }
    @if $bottom != false {
        bottom: $bottom;
        left: 50%;
        transform: translateX(-50%);
    }
    @if $left != false {
        left: $left;
        top: 50%;
        transform: translateY(-50%);
    }
}
