@mixin btn-secondary($font-color, $background-color, $width: 2px) {
    background-color: $background-color;
    border: $width solid $font-color;
    color: $font-color;
}

@mixin box-shadow($width, $color: #000) {
    box-shadow: 0 0 $width rgba($color, $alpha: 0.5);
}
