@import "../styles//variables";

.chatsend-form {
    background-color: $primary-color;
    padding: 0.75rem 0.5rem;
    form {
        input {
            width: 100%;
            padding: 0.5rem;
            font-size: $base-size;
            border: none;
        }
        input:focus {
            border-width: 0;
        }
        .btn {
            padding: 5px 1.5rem;
            margin: 0;
        }
    }
}
