@import "./variables";
@import "./utils";

.chat-sidebar {
    color: $font-white;

    .primary-bg {
        border-radius: 10px;
    }

    .room-name {
        white-space: nowrap;
        overflow: hidden;

        input {
            border: transparent;
            outline: none;
            background-color: transparent;
            color: $font-white;
        }
    }

    .custom-tooltip-top {
        &::before {
            @include tooltip-position($top: -15px);
        }
    }

    button,
    button:focus {
        border-color: $font-white;
        outline: none;
        font-size: 1.25rem;
        color: $font-white;
    }

    ul {
        @include inner-box-shadow(10px);
        border-radius: 10px;
        background-color: $primary-color;
        list-style: none;
        margin: 0;
        padding: 10px;
    }
}

/* Mobile Screen */
@media only screen and (min-width: 576px) {
    .chat-sidebar {
        ul {
            max-height: 50vh;
            overflow-y: auto;

            li:not(:last-child) {
                padding-bottom: 5px;

                &::after {
                    content: "";
                    display: block;
                    width: 50%;
                    height: 1px;
                    opacity: 0.35;
                    background-color: $font-white;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .chat-sidebar {
        ul {
            overflow-x: auto;
            li {
                z-index: -1;
                display: inline;
                padding-bottom: 5px;

                &:not(:last-child)::after {
                    content: "\2022";
                    opacity: 0.75;
                    margin-right: 8px;
                    margin-left: 8px;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        height: 10px;
    }
}
