@import "../styles//variables";
@import "../styles//utils";

.chat-section {
    @include box-shadow(10px);
    padding: 0;

    > div:first-child {
        background-color: $primary-color;
    }

    img {
        width: 180px;
        height: 100%;
    }
    h3 {
        display: inline;
        margin: 3px 0 2px 10px;
    }

    .btn {
        margin: 10px;
    }

    .chat-box {
        @include inner-box-shadow(10px);
        padding-top: 2rem;
        padding-left: 2.15rem;
        padding-right: 2.15rem;
        padding-bottom: 1rem;
        height: 80vh;
        overflow-y: auto;
        color: $font-white;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        max-width: 100%;
    }

    .chat-section {
        .chat-box {
            padding: 1rem 0.5rem;
        }
    }
}
