@import "../styles//variables";

.message {
    width: 70%;
    margin-top: 0.5rem;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: -1;

    p {
        margin-right: 0.75rem;
        margin-bottom: 0;

        &:not(:first-child) {
            margin-top: -0.25rem;
        }

        small {
            color: $primary-color;
            margin-right: 5px;
            font-size: $small-xs;
        }
    }

    &-bot {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: $font-white;
        border-radius: 40px;
        background-color: $secondary-color;
    }

    &-chat {
        color: #1b262c;
        background-color: $font-light;

        &-self {
            background-color: #7fdbda;
            margin-left: auto;
        }
    }

    &-media {
        width: fit-content;

        .chat-image {
            max-width: 200px;
        }
        .char-video {
            max-width: 250px;
        }
    }
}
