@import "variables";
@import "utils";

.message {
    width: 70%;
    margin-top: 0.5rem;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: -1;

    p {
        margin-right: 0.75rem;
        margin-bottom: 0;

        &:not(:first-child) {
            margin-top: -0.25rem;
        }

        small {
            color: $primary-color;
            margin-right: 5px;
            font-size: $small-xs;
        }
    }

    &-bot {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: $font-white;
        border-radius: 40px;
        background-color: $secondary-color;
        @include animation(
            $name: unfoldX,
            $time: 0.5s,
            $timing-func: cubic-bezier(0.8, -0.17, 0.27, 1.55),
            $origin: center
        );
    }

    &-chat {
        color: #1b262c;
        background-color: $font-light;
        @include animation(
            $name: unfoldX,
            $time: 0.5s,
            $timing-func: cubic-bezier(0.8, -0.17, 0.27, 1.55),
            $origin: left
        );

        &-self {
            background-color: #7fdbda;
            margin-left: auto;

            @include animation(
                $name: unfoldX,
                $time: 0.5s,
                $timing-func: cubic-bezier(0.8, -0.17, 0.27, 1.55),
                $origin: right
            );
        }
    }

    &-media {
        width: fit-content;

        .chat-image {
            max-width: 200px;
        }
        .char-video {
            max-width: 250px;
        }
        .chat-file {
            max-width: 100px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .message-bot {
        width: 80%;
    }

    .message-media {
        .chat-video {
            max-width: 200px;
        }
        .chat-file {
            max-width: 80px;
        }
    }
}
