@import "../styles//variables";

.chat-message,
.bot-message {
    margin-top: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: -1;

    p {
        color: #1b262c;
        margin-right: 10px;
        margin-bottom: 0;

        small {
            color: $primary-color;
            margin-right: 5px;
            font-size: $small-xs;
        }
    }
}

.chat-message {
    background-color: $font-light;
}
.bot-message {
    padding-top: 8px;
    padding-bottom: 8px;
    // margin-left: 5rem;
    // margin-right: 5rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #7fdbda;
}
