@import "../styles//variables";
@import "../styles//utils";

.chat {
    background-color: $primary-color;
    // margin: 3rem 1rem;
    @include box-shadow(10px);

    img {
        width: 50px;
        height: 100%;
    }
    .btn {
        @include btn-secondary($font-dark, $font-white);
        margin: 10px;
    }

    .chat-box {
        height: 80vh;
        overflow: scroll;
        color: $font-white;
    }
}
