@import "../styles//variables";
@import "../styles//utils";

.progress-wrapper {
    color: $font-dark;

    .progress {
        z-index: 2;
        margin-top: 0.5rem;
        background-color: $font-light;
        height: 1.5rem;
    }
}

@media only screen and (max-width: 900px) {
    .progress-wrapper {
        .progress {
            height: 1rem;
        }
    }
}
