# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - anomly

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Set up Node.js version
              uses: actions/setup-node@v1
              with:
                  node-version: "14.x"

            - name: yarn install, build, and test
              run: |
                  yarn install
                  yarn build
                  yarn test

            - name: Zip all files for upload between jobs
              # IMPORTANT: .next is a hidden folder and will NOT be included in the zip unless we specify it
              run: zip next.zip ./* .next -qr

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v2
              with:
                  name: node-app
                  path: next.zip

    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: "Production"
            url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v2
              with:
                  name: node-app

            - name: Deploy to Azure Web App
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v2
              with:
                  app-name: "anomly"
                  slot-name: "Production"
                  publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_55F64A7E9CEF47FBBFA16238408DBE05 }}
                  package: next.zip

            - name: Delete Zip file
              run: rm next.zip
